
:root{
    --primary-font: "Rubik Dirt", system-ui;
    --secondary-font: Sans-Serif;
    --cor-preta: #0e0e0e;
    --cor-branca: white;
    --cor-um: rgb(255, 140, 0);
    --cor-dois:  rgb(179, 98, 0);
    --cinza-principal: #b2b2b2;
    --cinza-secundario: #C86400
}


