#projeto{
    background-color: var(--cor-preta);
    height: 100vh;
    

}
#projeto p{
    text-indent: 0;
}

.projeto-container{
    height: 100%;
    width: 100%;
    margin: 0px 10%;    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.titulo-projeto{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
}
.titulo-projeto p{
    text-align: center;
    max-width: 700px;
    font-size: 19px;
}

.content-projeto{
    width: 100%;
    height: 500px;
    background-color: rgba(240, 248, 255, 0);
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.projeto-block{
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.resumo-projeto{
    max-width: 500px;
    background-color: rgba(48, 44, 36, 0.444);
    padding: 25px 25px;
    border-radius: 20px;
    border: 1px solid rgba(255, 166, 0, 0.233);
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.514);
}
.resumo-projeto span{
    color: var(--cor-um);
}
.resumo-projeto p{
    font-size: 15px;
    color: rgb(170, 162, 149);

}
.titulo-resumo{
    width: 100%;
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}
.icon-titulo{
    height: 40px;
    width: 40px;
    background-color: rgba(255, 132, 0, 0.212);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}
.icon-titulo span{
    color: var(--cor-um);
}
.texto-titulo{
    height: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;


}
.texto-titulo h3{
    font-size: 21px;
    font-weight: 200;
    color: rgb(224, 205, 173);
}
.texto-titulo p{
    font-size: 15px;
    color: var(--cor-um);
}

.infos-projeto{
    max-width: 500px;
    display: flex;
    justify-content: space-between;
}

.block-info{
    background-color: rgba(48, 44, 36, 0.113);
    width: 47%;
    border-radius: 5px;
    padding: 20px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(255, 166, 0, 0.233);
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.514);
}
.block-info p{
    font-size: 15px;
    color: rgb(170, 162, 149);
    font-weight: 500;
}
.block-info h2{
    font-size: 35px;
    color: var(--cor-um);
    font-weight: 200;
}


.projeto-right{
    width: 950px;
    background-color: rgba(45, 42, 35, 0.517);
    border-radius: 10px;
    padding: 10px;
    display: flex;
    box-shadow: 0 0 0px 0.3px var(--cor-um);
    justify-content: center;
    border: 1px solid rgba(255, 166, 0, 0.233);
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.514);

}

.metodologia-projeto{
    height: 100%;
    display: flex;
    gap: 20px;
    

}
.projeto-right img{
    height: 480px;
    border-radius: 10px;
}
.projeto-right h2{
    font-size: 25px;
    color: rgb(224, 205, 173);
    line-height: 60px;
}

.content-side{
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.topicos-projeto{
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.topico{
    height: 40px;
    display: flex;
    align-items: center;
}
.topico h3{
    font-size: 20px;
    font-weight: 300;
    color: rgb(224, 205, 173);
}
.topico p{
    font-size: 15px;
    color: var(--cor-um);
}
.texto-topico{
    margin-left: 10px;
}


@media (max-width:1250px){
    #projeto{
        height: fit-content;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 100px 0px;
        overflow: hidden;
    }


    .content-projeto{
        justify-content: center;
        height: fit-content;
        gap: 30px;
        margin-top: 0;
    }
    .projeto-container{
        flex-direction: column;
        padding: 0px 30px;
        gap: 0px;
    }
    #projeto h1{
        font-size: 30px;
        line-height: 30px;
        text-align: center;
        margin-bottom: 10px;
    }
    #projeto p{
        font-size: 15px;
    }
    .projeto-right img{
        display: none;
    }
    .projeto-right{
        max-width: 718px;
        align-items: center;
        padding: 25px;
    }
    .projeto-right h2{
        line-height: 25px;
        text-align: center;
    }
    .resumo-projeto{
        max-width: 718px;
    }
    .infos-projeto{
        max-width: 718px;
    }
    .projeto-block{
        justify-content: center;
        gap: 30px;
        height: fit-content;
    }
    .infos-projeto p{
        text-align: center;
    }
    .metodologia-projeto{
        gap: 0;
        align-items: center;
        justify-content: center;
    }
    .icon-titulo{
        height: 25px;
        width: 25px;
    }
    .texto-topico h3{
        font-size: 17px;
    }
    .texto-topico p{
        font-size: 15px;
    }
    

}