#projeto{
    background-color: var(--cor-preta);
    height: fit-content;
    padding-bottom: 100px ;

}
#projeto p{
    text-indent: 0;
}

.projeto-container{
    height: 100%;
    width: 100%;
    margin: 0px 10%;    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.titulo-projeto{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
}
.titulo-projeto p{
    text-align: center;
    max-width: 700px;
    font-size: 19px;
}

.content-projeto{
    width: 100%;
    height: 500px;
    background-color: rgba(240, 248, 255, 0);
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.projeto-block{
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.resumo-projeto{
    max-width: 550px;
    background-color: rgba(48, 44, 36, 0.444);
    padding: 25px 25px;
    border-radius: 20px;
    box-shadow: 0 0 0px 0.3px var(--cor-um);
}
.resumo-projeto span{
    color: var(--cor-um);
}
.resumo-projeto p{
    font-size: 15px;
    color: rgb(170, 162, 149);

}
.titulo-resumo{
    width: 100%;
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}
.icon-titulo{
    height: 40px;
    width: 40px;
    background-color: rgba(255, 132, 0, 0.212);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}
.icon-titulo span{
    color: var(--cor-um);
}
.texto-titulo{
    height: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;


}
.texto-titulo h3{
    font-size: 21px;
    font-weight: 200;
    color: rgb(224, 205, 173);
}
.texto-titulo p{
    font-size: 15px;
    color: var(--cor-um);
}

.infos-projeto{
    width: 550px;
    display: flex;
    justify-content: space-between;
    

}

.block-info{
    background-color: rgba(48, 44, 36, 0.113);
    width: 47%;
    border-radius: 5px;
    box-shadow: 0 0 0px 0.2px var(--cor-um);
    padding: 30px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.block-info p{
    font-size: 15px;
    color: rgb(170, 162, 149);
    font-weight: 500;
}
.block-info h2{
    font-size: 35px;
    color: var(--cor-um);
    font-weight: 200;
}


.projeto-right{
    width: 950px;
    background-color: rgba(45, 42, 35, 0.517);
    border-radius: 10px;
    padding: 10px;
    display: flex;
    box-shadow: 0 0 0px 0.3px var(--cor-um);
    justify-content: center;

}

.metodologia-projeto{
    height: 100%;
    display: flex;
    gap: 20px;
    

}
.projeto-right img{
    height: 480px;
    border-radius: 10px;
}
.projeto-right h2{
    font-size: 25px;
    color: rgb(224, 205, 173);
    line-height: 60px;
}

.content-side{
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.topicos-projeto{
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.topico{
    height: 40px;
    display: flex;
    align-items: center;
}
.topico h3{
    font-size: 20px;
    font-weight: 300;
    color: rgb(224, 205, 173);
}
.topico p{
    font-size: 15px;
    color: var(--cor-um);
}
.texto-topico{
    margin-left: 10px;
}


@media (max-width:1250px){

}